body{overflow-x: hidden;}
del{text-decoration: line-through;font-size: 10px;}
.margin{width:980px;margin:0 auto;font-size: 12px/ 1.5 "";color: #484848;}
#top{position: relative;display:flex;font:12px/28px "";color:#484848;background: #f1f1f1;border-bottom: solid 1px #e2e2e2;height:28px;}
#top a:hover{text-decoration: underline;}
#top .top-l{float: left;}
#top .top-l a{padding: 0 5px;padding-left: 16px;}
#top .top-l a:nth-child(1){background: url(../img/bgtubiao.png) 0 0 no-repeat;background-position-y: 3px;}
#top .top-l a:nth-child(1):hover{background: url(../img/bgtubiao.png) 0 0 no-repeat;background-position-y: -17px;}
#top .top-l a:nth-child(2):hover{background: url(../img/bgtubiao.png) 0 0 no-repeat;background-position-y: -157px;}
#top .top-l a:nth-child(2){padding-left:20px;background: url(../img/bgtubiao.png) 0 0 no-repeat;background-position-y: -132px;}
#top .top-r{display: flex;float: right;}
#top .top-r .welcome{margin-right: 10px;}
b{margin: 0 8px;}
#top .top-r .welcome a.wel-night{margin-left: 10px;}
#top .top-r ul{display: flex;}
#top .top-r ul li{padding: 0 5px;}
#top .top-r ul li .inner{display: none;position: relative;z-index: 1;}
#top .top-r ul li.xiala{padding-right: 15px;position: relative;}
#top .top-r ul li.xiala .oper{cursor: pointer;}
#top .top-r ul li.xiala:hover{background: #fff;}
#top .top-r ul li.xiala:hover .inner{display: block;border: solid 1px #E2E2E2;padding:2px 10px;background: #fff;}
#top .top-r ul li.xiala .toptip{position: absolute;left:-34px;width:100px;}
#top .top-r ul li.xiala .toptip .login{color: #039;}
#top .top-r ul li.xiala .toptip1{position: absolute;left:-60px;width:120px;z-index: 3;}
#top .top-r ul li.xiala .toptip1 .info strong{font:700 12px/18px "";}
#top .top-r ul li.xiala .toptip1 .info .orange{font:700 14px/18px "";color:#fe7b23;padding-top:6px;}    
#top .top-r ul li.xiala .toptip1 .lianxi a{display:inline-block;background: #4f9ee7;color:#fff;text-align: center;height: 25px;width: 58px;line-height: 25px;margin-bottom:6px;}
#top .top-r ul li .oper s{background: url(../img/xtubiao.png) 0 0 no-repeat;background-position: left -27px;display: inline-block;
width: 6px;height: 4px;background-position: left -27px;overflow: hidden;margin:4px;position: relative;top:2px;}
#top .top-r ul li.xiala:hover s{transform: rotate(180deg);}

header{display: flex;padding-top: 12px;}
header .logo{display:inline-block;width:318px;height: 65px;}
header .logo-sear{position: relative;left:50px;top:8px;}
header .sear{height: 30px;}
header .sear .sear-l{width: 337px;border: 0;color: #b7b7b7;text-indent: 6px;height: 28px;font-size: 1em;border: 2px solid #f60;}
header .sear .sear-r{display:inline-block;width: 98px;background: #f60;color: #fff;font:700 14px/32px "";text-align:center;position: relative;top:1px;}
header .logo-sear p{color: #767676;margin-top: 4px;line-height: 28px;}
header .logo-sear p a{padding: 0 5px;}
header .logo-sear p a:hover{text-decoration:underline;}

#nav{height:40px;background: #10286C;margin-top: 10px;color:#fff;text-align: center;position: relative;}
#nav h3{position: absolute;top:112px;text-indent: 20px;font:14px/40px "";background: url(../img/xtubiao.png) no-repeat 120px -1252px #F60;
text-indent: 20px;padding-left:5px;padding-right:70px;background-position-x: 132px;}
a:hover{text-decoration: underline;}
#nav ul.shouye{display:flex;position: relative;left:200px;}
#nav ul.shouye li{}
#nav ul.shouye li a{color:#fff;padding: 0 20px;display: inline-block;font:14px/40px "";}
#nav ul.shouye li a:hover{background:#003399;}
#nav .menu{float: left;position: relative;}
#nav .menu h3{position: absolute;top:0;width:120px;color: #fff;}


#body .box{padding-bottom: 50px;background: url(http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201805/520dacu0511/bg.jpg) no-repeat scroll center top transparent;
background-color: #fdf3f3;}
#body .ban{background: url(http://c1.neweggimages.com.cn/NeweggPic2/Marketing/201805/520dacu0511/bg.jpg) no-repeat scroll center top transparent;
background-color: #fdf3f3;margin: 0 auto;}
#body .box .banner{}
#body .code {z-index:2;width: 124px;height: 270px;border: 3px solid #ff1876;border-bottom: 8px solid #ff2271;background: none repeat scroll 0 0 #fff;position: fixed;left: 1px;top: 250px;}
#body .code span {width: 70px;margin: 20px auto 5px;display: block;}
#body .code p {text-align: center;font-size: 14px;color: #ff2271;margin-bottom: 30px;font-family: "Microsoft YaHei UI Light";}
#body .pro img{display: block;}
.pro{width: 980px;margin: 0 auto;}
#body .pro .img{width: 980px;height: 258px;}

#main{}
#main .sp{}
#main .sp .goods{display: flex;flex-wrap: wrap;}
#main .sp .goods .box{width: 236px;text-align:center;height: 280px;border: 1px solid #e3e3e3;margin-right: 6px;margin-top:6px;background: #fff;}
#main .sp .goods .box img{margin: 0 auto;display: block;padding-top: 10px;}
#main .sp .goods .box p.info{height: 31px;width:150px;line-height: 1.3em;overflow: hidden;margin-top: 10px;margin:0 auto;}
#main .sp .goods .box p.pri{line-height: 18px;padding-bottom: 14px;position: relative;top:100px;color: #f60;font-size: 14px;}
#main .sp .goods .box em{background: url(http://c2.neweggimages.com.cn/WebResources/2009/Default/Nest/img/sprite_buyintimelimit.jpg) repeat scroll left -93px transparent;
color: #fff!important;display: block;font-size: 14px;font-weight: bold;height: 29px;line-height: 28px;margin: 0 auto;width: 124px;text-align: center;position: relative;top: 60px;}
#main .sp .goods .box em:hover{cursor: pointer;text-decoration: underline;}

.picBanner img{margin: 0;}
.adv1 h4{font: 18px/40px 宋体;text-indent: 10px;color: #684949;height: 40px;}
.adv1_c .mrn{margin-right: 0;}
.adv3 a{float: left;}
.adv1, .adv2, .adv3{width: 980px;margin: 0 auto 8px auto;clear: both;}
.adv1_cnt{position: relative;float: left;margin: 0 8px 8px 0;width: 239px;height: 208px;}
.adv1_cnt p{position: absolute;bottom: 0;left: 0;width: 239px;height: 50px;font: 24px/50px microsoft yahei;color: #fff;text-indent: 16px;}
.color1{background-color: #a89783;}
.color2{background-color: #00a4c7;}
.color3{background-color: #0066cb;}
.color4{background-color: #00b6cc;}
.color5{background-color: #656b8d;}
.color6{background-color: #74907a;}
.color7{background-color: #ae78a9;}
.color8{background-color: #2d2a35;}
.picBanner{margin: 0;text-align: left;}


#footer .helpcenter{display: flex;margin-top: 60px;}
#footer .helpcenter dl{width: 17.64%;padding-right: 1%;margin-left: 1.5%;height: 194px;display: inline;border-right: 1px solid #dbdbdb;}
#footer .helpcenter dl dt{font: 700 14px/20px "";text-indent: 30px;height: 20px;}
#footer .helpcenter .help-fresh dt {vertical-align:top;background: url(http://c7.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/helpcenter.gif)  no-repeat 0 2px;}
#footer .helpcenter .help-service dt {vertical-align:top;background: url(http://c7.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/helpcenter.gif) no-repeat 0 -113px;}
#footer .helpcenter .SpecialServies dt {vertical-align:top;background: url(http://c6.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/SpecialServies.png) no-repeat left center;}
#footer .helpcenter .help-cooperate dt {vertical-align:top;background: url(http://c7.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/helpcenter.gif) no-repeat 0 -152px;}
#footer .helpcenter .help-about dt {vertical-align:top;background: url(http://c7.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/helpcenter.gif) no-repeat 0 -190px;}
#footer .helpcenter ul{margin-top: 20px;}
#footer .helpcenter li {line-height: 22px;height: 22px;overflow: hidden;margin-left: 20px;}

#footer-img .item1{display: inline-block;background: url(http://c6.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/certi20150925.png) no-repeat 0 0;height: 45px;margin: 0 3px 10px 2px;}
#footer-img .item2{display: inline-block;background: url(http://c6.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/certi20150925.png) no-repeat 0 -92px;height: 45px;margin: 0 3px 10px 2px;}
#footer-img .item3{display: inline-block;background: url(http://c6.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/certi20150925.png) no-repeat 0 -276px;height: 45px;margin: 0 3px 10px 2px;}
#footer-img .item4{display: inline-block;background: url(http://c6.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/certi20150925.png) no-repeat 0 -326px;height: 45px;margin: 0 3px 10px 2px;}
#footer-img .item5{display: inline-block;background: url(http://c6.neweggimages.com.cn/WebResources/2009/Default/Nest/img_v3/certi20150925.png) no-repeat 0 -376px;height: 45px;margin: 0 3px 10px 2px;}

#footer-img{line-height:20px;text-align: center;margin-top: 80px;margin-bottom:50px;}
#footer-img a{display: inline-block;width: 120px;}
#footer-img p {font-size: 12px;padding: 0 0 10px;display: block;width: 100%;}
#footer-img p a{width: 76px;}
#footer-img p span a{width: 112px;}
